[buildout]
package-name = collective.contentleadimage
package-extras = [test]

versions = versions

extensions = mr.developer
sources = sources
always-accept-server-certificate = true
always-checkout = true

# Overrule the ecosystem pinning in Plone's versions.cfg
[versions]
collective.contentleadimage      =
